*.class

# Package Files #
*.jar
*.war
*.ear
/target
/bundles/java-ee/.settings/org.eclipse.wst.common.component
/bundles/java-ee/.settings/org.eclipse.wst.common.project.facet.core.xml
/validity/.settings/org.eclipse.wst.common.project.facet.core.xml
/validity/.settings/org.eclipse.wst.common.component
/calc/.settings/org.eclipse.wst.validation.prefs
/common/.settings/org.eclipse.wst.validation.prefs
/conversion/.settings/org.eclipse.wst.validation.prefs
/extensions/.settings/org.eclipse.wst.validation.prefs
/format/.settings/org.eclipse.wst.validation.prefs
/validity/.settings/org.eclipse.pde.core.prefs
/validity/.settings/org.eclipse.wst.validation.prefs
